{% use 'form_div_layout.html.twig' %}

{%- block form_row -%}
    {%- set row_attr = row_attr|merge({class: row_attr.class|default(row_class|default('flex flex-col px-3 mt-2'))}) -%}
    {{- parent() -}}
{%- endblock form_row -%}

{% block form_label %}
    {%- set label_attr = label_attr|merge({class: label_attr.class|default(label_class|default('font-semibold text-quaternary'))}) -%}
    {{- parent() -}}
{% endblock form_label %}

{%- block button_row -%}
    <div class="mt-4 px-3">
        {{- form_widget(form, {attr: row_attr|merge({class: row_attr.class|default(row_class|default('btn btn-color-primary'))})}) -}}
    </div>
{%- endblock button_row -%}

{%- block checkbox_widget -%}
    <label class="flex flex-row space-x-3 items-center"{% if label_attr %}{% with {attr: label_attr} %} {{ block('attributes') }}{% endwith %}{% endif %}>
        {{- parent() -}}
        <span>{{- label -}}</span>
    </label>
{%- endblock checkbox_widget -%}

{%- block key_value_row -%}
    {%- set row_attr = row_attr|merge({class: row_attr.class|default('') ~ ' flex mt-2 space-x-3'}) -%}
    <div{% with {attr: row_attr} %} {{ block('attributes') }}{% endwith %}>
        {{- form_row(form.children['key'], {row_attr: {class: 'flex flex-col flex-grow'}}) -}}
        {{- form_row(form.children['value'], {row_attr: {class: 'flex flex-col flex-grow'}}) -}}
        {% if delete_button %}
            <button
                type="button"
                class="h-10 btn btn-color-red self-end mb-1"
                data-action="collection#delete"
            >
                <i class="fa fa-trash"></i>
            </button>
        {% endif %}
    </div>
{%- endblock key_value_row -%}

{%- block key_value_collection_row -%}
    <div class="flex flex-col" data-controller="collection">
        {{ form_row(form) }}
        <button type="button"
                class="btn btn-color-primary btn-style-outline btn-size-xsmall self-start m-3"
                data-action="collection#add"
                data-list-selector="#admin_content_entity_form_customFields">{{ add_new_label }}</button>
    </div>
{%- endblock key_value_collection_row -%}
