{% extends '@NumberNine/user/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security', 'numbernine', 'numbernine') }}
{% endblock %}

{% block body_classes %}n9-login{% endblock %}

{% block body %}
    <h1>Login</h1>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {#
                <div class="n9-mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('numbernine_logout') }}">Logout</a>
                </div>
        #}
    {% else %}

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="n9-mb-4">
                <label class="" for="username">
                    Username
                </label>
                <input id="username" type="text" value="{{ last_username }}" name="username" required autofocus>
            </div>
            <div class="n9-mb-4">
                <label for="password">
                    Password
                </label>
                <input id="password" type="password" name="password" required>
            </div>
            <div class="n9-mb-6">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="n9-form-footer">
                <button type="submit">
                    Sign In
                </button>
                <a href="#">
                    Forgot Password?
                </a>
            </div>
        </form>
    {% endif %}
{% endblock %}
