{% trans_default_domain 'numbernine' %}
{% extends '@NumberNine/admin/base.html.twig' %}

{% block content %}
    <turbo-frame id="numbernine_admin_content_entity_create">
        <div class="flex flex-col" data-controller="dynamic-tabs">
            {% include '@NumberNine/admin/layout/toolbar.html.twig' with {title: entity.title} %}
            {% include '@NumberNine/admin/util/flashes.html.twig' %}

            {{ form_start(form) }}

            <div class="grid grid-cols-5 gap-3">
                <div class="col-span-4">
                    <div class="tabs-toolbar">
                        <div class="tabs">
                            <a href="#" data-dynamic-tabs-target="tab" data-action="dynamic-tabs#activate" data-tab-id="content">
                                <span>
                                    <i class="fa fa-edit"></i>
                                    <span>{{ 'Content'|trans }}</span>
                                </span>
                            </a>
                            <a href="#" data-dynamic-tabs-target="tab" data-action="dynamic-tabs#activate" data-tab-id="seo">
                                <span>
                                    <i class="fa fa-search"></i>
                                    <span>{{ 'SEO'|trans }}</span>
                                </span>
                            </a>
                            <a href="#" data-dynamic-tabs-target="tab" data-action="dynamic-tabs#activate" data-tab-id="custom-fields">
                                <span>
                                    <i class="fa fa-wrench"></i>
                                    <span>{{ 'Custom fields'|trans }}</span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div data-dynamic-tabs-target="panel" data-tab-id="content" class="tab-panel">
                        {{ form_row(form.title) }}
                        {{ form_row(form.content) }}
                    </div>

                    <div data-dynamic-tabs-target="panel" data-tab-id="seo" class="tab-panel">
                        {{ form_row(form.seoTitle) }}
                        {{ form_row(form.seoDescription) }}
                    </div>

                    <div data-dynamic-tabs-target="panel" data-tab-id="custom-fields" class="tab-panel">
                        {{ form_row(form.customFields) }}
                    </div>
                </div>

                <div class="col-span-1">
                    <div class="shadow rounded p-3 mr-3 mt-3 bg-white">
                        <div class="text-xl font-semibold border-b border-gray-300 pb-3">{{ 'Publish'|trans }}</div>
                        {{ form_row(form.status) }}
                        <div class="flex justify-between mt-3">
                            <div class="mt-4 px-3">
                                <button class="btn btn-color-red" type="button"><i class="fa fa-trash"></i></button>
                            </div>
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </turbo-frame>
{% endblock %}

