{% trans_default_domain 'numbernine' %}
{% extends '@NumberNine/user/base.html.twig' %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security', 'numbernine', 'numbernine') }}
{% endblock %}

{% block body_classes %}login{% endblock %}

{% block body %}
    <h1>Login</h1>
    <a href="{{ path('numbernine_homepage') }}" class="back-to-front"><i class="fa fa-arrow-left"></i> {{ 'Back to front page'|trans }}</a>

    <form method="post">
        {% if error %}
            <div class="alert-danger" role="alert">
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}

        <div class="mb-4">
            <label class="" for="username">
                Username
            </label>
            <input id="username" type="text" value="{{ last_username }}" name="username" required autofocus>
        </div>
        <div class="mb-4">
            <label for="password">
                Password
            </label>
            <input id="password" type="password" name="password" required>
        </div>
        <div class="mb-6">
            <label>
                <input type="checkbox" name="_remember_me" class="mr-2"> Remember me
            </label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-footer">
            <button class="btn btn-color-primary" type="submit">
                Sign In
            </button>
            <a href="{{ path('numbernine_forgot_password_request') }}">
                Forgot Password?
            </a>
        </div>
    </form>
{% endblock %}
