{% trans_default_domain 'numbernine' %}
<div class="flex items-center gap-5" data-controller="customize--builder-toolbar">
    <div class="flex items-stretch gap-1">
        <button type="button"
                title="{{ 'Save page'|trans }}"
                class="btn btn-color-white btn-style-flat"
                data-action="customize--builder-toolbar#save"
        >
            <i class="fas fa-save"></i>
        </button>
        <button type="button"
                title="{{ 'Components tree'|trans }}"
                class="btn btn-color-white btn-style-flat"
                data-action="customize--builder-toolbar#showTree"
        >
            <i class="mdi mdi-file-tree mdi-18px"></i>
        </button>
    </div>

    <div class="flex items-stretch gap-1">
        <button type="button"
                title="{{ 'Desktop'|trans }}"
                class="btn btn-color-white btn-style-flat"
                data-action="customize--builder-toolbar#setDesktopSize"
        >
            <i class="fas fa-desktop"></i>
        </button>
        <button type="button"
                title="{{ 'Tablet'|trans }}"
                class="btn btn-color-white btn-style-flat"
                data-action="customize--builder-toolbar#setTabletSize"
        >
            <i class="fas fa-tablet-alt"></i>
        </button>
        <button type="button"
                title="{{ 'Phone'|trans }}"
                class="btn btn-color-white btn-style-flat"
                data-action="customize--builder-toolbar#setPhoneSize"
        >
            <i class="fas fa-mobile-alt"></i>
        </button>
    </div>

    <div class="flex">
        <a
            href="{{ frontend_url }}"
            title="{{ 'View %1%'|trans({'%1%': content_type is defined and content_type ? content_type.labels.singularName : 'page'}) }}"
            class="btn btn-color-white btn-style-flat"
            target="_blank"
        >
            <i class="mdi mdi-eye-outline mdi-18px"></i>
        </a>
    </div>
</div>
