{% trans_default_domain 'numbernine' %}
{% extends '@NumberNine/user/base.html.twig' %}

{% block title %}{{ 'Password reset email sent'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security', 'numbernine', 'numbernine') }}
{% endblock %}

{% block body_classes %}login{% endblock %}

{% block body %}
    <h1 class="small">{{ 'Check your email'|trans }}</h1>
    <a href="{{ path('numbernine_login') }}" class="back-to-front"><i class="fa fa-arrow-left"></i> {{ 'Back to login page'|trans }}</a>

    <p class="mt-5">
        {{ 'An email has been sent that contains a link that you can click to reset your password.'|trans }}
        {{ 'This link will expire in %1%.'|trans({'%1%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}
    </p>
    <p class="mt-3">
        {{ "If you don't receive an email please check your spam folder or <a href=\"%1%\">try again</a>."|trans({'%1%': path('numbernine_forgot_password_request')})|raw }}
    </p>
{% endblock %}
