{% trans_default_domain 'numbernine' %}
{% extends '@NumberNine/user/base.html.twig' %}

{% block title %}{{ 'Reset your password'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security', 'numbernine', 'numbernine') }}
{% endblock %}

{% block body_classes %}login{% endblock %}

{% block body %}
    <h1 class="small">{{ 'Reset your password'|trans }}</h1>
    <a href="{{ path('numbernine_login') }}" class="back-to-front"><i class="fa fa-arrow-left"></i> {{ 'Back to login page'|trans }}</a>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <div class="form-footer mt-5">
            <button class="btn btn-color-primary" type="submit">{{ 'Reset password'|trans }}</button>
        </div>
    {{ form_end(resetForm) }}
{% endblock %}
