{% trans_default_domain 'numbernine' %}
{% extends '@NumberNine/admin/base.html.twig' %}

{% block title %}{{ 'Menu edition'|trans }}{% endblock %}

{% block active_menu_url %}{{ path('numbernine_admin_menu_index') }}{% endblock %}

{% block content %}
    <div class="flex flex-col">
        <turbo-frame id="numbernine_admin_menu">
            {% include '@NumberNine/admin/util/toolbar.html.twig' with {title: 'Menu edition'|trans} %}

            {% include '@NumberNine/admin/util/flashes.html.twig' %}

            {{ form_start(form, {attr: {class: 'px-3', 'data-controller': 'menu--watcher', 'data-turbo-frame': '_top'}}) }}
                {{ form_row(form.name, {attr: {class: 'lg:max-w-md'}}) }}
                {{ form_row(form.menuItems, {attr: {'data-menu--watcher-target': 'menuItems'}}) }}

                <div class="mt-5 flex flex-wrap gap-3">
                    <div class="w-full md:w-1/4 lg:w-1/6 flex flex-col gap-1">
                        {% for content_type in content_types %}
                            {% if content_type.public and entities[content_type.name].count > 0 %}
                                <div data-controller="toggle-visibility">
                                    <div
                                        class="px-3 py-1 cursor-pointer rounded text-white bg-primary flex items-center justify-between"
                                        data-action="click->toggle-visibility#toggle"
                                    >
                                        <span>{{ content_type.labels.pluralName|capitalize }}</span>
                                        <span><i class="fas fa-sort-down"></i></span>
                                    </div>
                                    <div
                                        class="hidden px-1 py-2"
                                        data-toggle-visibility-target="item"
                                        data-controller="menu--entities"
                                    >
                                        <turbo-frame id="numbernine_admin_menu_{{ content_type.name }}">
                                            {% include '@NumberNine/admin/util/pagination.html.twig' with {
                                                paginator: entities[content_type.name],
                                                currentPage: pages[content_type.name],
                                                url: path('numbernine_admin_menu_edit', {
                                                    id: form.vars.data.id,
                                                    (content_type.name ~ '_page'): '__page__',
                                                }),
                                            } %}

                                            <div class="flex flex-col gap-1">
                                                {% for entity in entities[content_type.name] %}
                                                    <label class="flex gap-3 items-center text-sm">
                                                        <input
                                                            type="checkbox"
                                                            data-menu--entities-target="entity"
                                                            data-id="{{ entity.id }}"
                                                            data-title="{{ entity.title }}"
                                                            data-icon="{{ content_type.icon }}"
                                                        >
                                                        <span>{{ entity.title }}</span>
                                                    </label>
                                                {% endfor %}
                                            </div>

                                            <button
                                                type="button"
                                                class="mt-2 btn btn-color-primary btn-size-xsmall btn-borders-square"
                                                data-action="menu--entities#addToMenu"
                                            >
                                                {{ 'Add to menu'|trans }}
                                            </button>
                                        </turbo-frame>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div data-controller="toggle-visibility">
                            <div
                                class="px-3 py-1 cursor-pointer rounded text-white bg-primary flex items-center justify-between"
                                data-action="click->toggle-visibility#toggle"
                            >
                                <span>{{ 'Custom link'|trans }}</span>
                                <span><i class="fas fa-sort-down"></i></span>
                            </div>
                            <div class="hidden px-1 py-2" data-toggle-visibility-target="item" data-controller="menu--custom-link">
                                <div class="flex flex-col mt-2">
                                    <label class="font-semibold text-quaternary required">{{ 'Title'|trans }}</label>
                                    <input type="text" data-menu--custom-link-target="title">
                                </div>
                                <div class="flex flex-col mt-2">
                                    <label class="font-semibold text-quaternary required">{{ 'URL'|trans }}</label>
                                    <input type="text" data-menu--custom-link-target="url">
                                </div>

                                <button
                                    type="button"
                                    class="mt-2 btn btn-color-primary btn-size-xsmall btn-borders-square"
                                    data-action="menu--custom-link#addToMenu"
                                >
                                    {{ 'Add to menu'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div
                        class="min-h-full"
                        data-controller="menu--editor"
                        data-menu--editor-items-value="{{ form.menuItems.vars.value }}"
                    ></div>
                </div>

                <div class="flex">
                    {{ form_row(form.save) }}
                    {{ form_row(form.delete, {row_attr: {class: 'mt-4 pl-3'}, attr: {class: 'btn btn-color-red'}}) }}
                </div>
            {{ form_end(form) }}

            <div class="mt-3 px-3">
                <a href="{{ path('numbernine_admin_menu_index') }}"
                   class="text-primary hover:underline"
                   data-turbo-frame="_top"
                >
                    {{ 'Back to menus list'|trans }}
                </a>
            </div>
        </turbo-frame>
    </div>
{% endblock %}
