{% trans_default_domain 'numbernine' %}
<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin', 'numbernine', 'numbernine') }}
    {% endblock %}

    {% block javascripts_head %}
        {{ encore_entry_script_tags('admin', 'numbernine', 'numbernine') }}
    {% endblock %}
</head>

<body class="h-full">
    <nav class="topbar" data-controller="toggle-visibility" data-toggle-visibility-visible-class="block">
        <div class="topbar-title">
            <a href="{{ path('numbernine_admin_index') }}">
                <img src="{{ preload(asset('bundles/numbernine/build/images/NumberNineWithoutText.png', 'numbernine'), {as: 'image'}) }}" alt="Homepage" width="25">
            </a>
        </div>
        <div class="topbar-burger-wrapper">
            <button class="topbar-burger" data-action="click->toggle-visibility#toggle">
                <svg class="topbar-burger-svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>
        <div class="topbar-menu" data-toggle-visibility-target="item">
            <div>
                <a href="{{ path('numbernine_admin_index') }}">{{ 'Dashboard'|trans }}</a>
                <a href="{{ path('numbernine_homepage') }}" target="_blank">{{ 'Visit site'|trans }}</a>
            </div>
            <div>
                <a href="{{ path('numbernine_logout') }}">{{ 'Logout'|trans }}</a>
            </div>
        </div>
    </nav>

    <div class="ui-area">
        <aside class="menu-sidebar">
            <nav>
                <a href="" class="p-3 flex items-center justify-between hover:bg-quaternary-500 transition-all duration-200 ease-in-out">
                    <div>
                        <i class="fa fa-tachometer-alt px-3"></i>
                        <span>Dashboard</span>
                    </div>
                    <i class="fa fa-chevron-down px-3"></i>
                </a>
            </nav>
        </aside>
        <main class="flex-grow bg-gray-200">

        </main>
    </div>
{% block javascripts_footer %}{% endblock %}
</body>
</html>
